extends ../layout/layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")


block content 
    div.login-page
        main.product-body
            if (error)
                div(class="login-message-error") #{error}
            if (success)
                div(class="login-message-success") #{success}

            form.add-product-form(action="/update-password" method="POST")
                h3 Password Change ?
                input.add-product-entry(type="password" placeholder="Enter your new password" name="newpassword" required id="newpassword")
                input(type="hidden", name="_csrf" value=`${csrfToken}`)
                input(type="hidden", name="userId" value=`${userId}`)
                input(type="hidden", name="resetToken" value=`${resetToken}`)
                button.add-product-btn Update password
